  <div id="divid">
    <h2>Section</h2>
     <div class="dropdown1">
      <a href="dropbtn1" routerLink="/"><h4>Categories</h4></a>
      <div class="dropdown1-content1">
      <a href="#">Boys</a>
      <a href="#">Girls</a>
      </div>
      </div><br>
      <div class="dropdown1">
      <a href="dropbtn1"><h4>Price</h4></a>
      <div class="dropdown1-content1">
      <a href="#">High</a>
      <a href="#">Low</a>
      </div>
      </div><br>
      <div class="dropdown1">
      <a href="dropbtn1"><h4>Size</h4></a>
      <div class="dropdown1-content1">
      <a href="#">Small</a>
      <a href="#">Medium</a>
      </div>
      </div>             
</div>
